<div id="listings" class="transitions-enabled">

<h1>Listings</h1>
<% @listings.each do |listing| %>
      <div class="box panel panel-default">
          <%= image_tag listing.image.url(:medium) %>
          <div class="panel-body">
            <%= listing.title %><br />
            <%= listing.user.email %><br />
            <!--<strong>Description:</strong><%= listing.description %>-->
            <strong>Where:</strong><%= listing.location %><br />
            <% if user_signed_in? %>
            <%= listing.contact %><br />
            <% end %>
            <strong>When:</strong><%= listing.date %><br />
          </div>
          <div class="panel-footer">
            <%= link_to 'Show', listing %>
            <% if listing.user == current_user %>
            <%= link_to 'Edit', edit_listing_path(listing) %>
            <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure you would like to delete this listing?' } %>
            <% end %>
          </div>
      </div>
    <% end %>
</div>