<%= render 'pages/home' if !user_signed_in? %>

<div id="listings" class="transitions-enabled">
  <% @listings.each do |listing| %>
      <div class="box panel panel-default">
         <%= link_to image_tag(listing.image.url(:medium)), listing %>
          <div class="panel-body">
            <strong><%= link_to listing.title, listing %></strong><br />
            <%= listing.user.email %><br />
            <!--<strong>Description:</strong><%= listing.description %>-->
            <strong>Where:</strong><%= listing.location %><br />
            <strong>When:</strong><%= listing.date %><br />
            <% if user_signed_in? %>
              <strong>When:</strong><%= listing.contact %><br />
            <% end %>
          </div>
          <div class="panel-footer">
            <!--<%= link_to 'Show', listing %>-->
            <% if listing.user == current_user %>
              <%= link_to edit_listing_path(listing) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            
            <%= link_to listing, method: :delete, data: { confirm: 'Are you sure you would like to delete this listing?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>

            <% end %>
          </div>
      </div>
  <% end %>
</div>