<div id="listings" class="transitions-enabled">
  <% @listings.each do |listing| %>
      <div class="box panel panel-default">
         <%= link_to image_tag(listing.image.url(:medium)), listing %>
          <div class="panel-body">
            <strong><%= link_to listing.title, listing %></strong><br />
            <%= listing.user.email %><br />
            <!--<strong>Description:</strong><%= listing.description %>-->
            <strong>Where:</strong><%= listing.location %><br />
            <strong>When:</strong><%= listing.date %><br />
            <% if user_signed_in? %>
              <strong>When:</strong><%= listing.contact %><br />
            <% end %>
          </div>
          <div class="panel-footer">
            <!--<%= link_to 'Show', listing %>-->
            <% if listing.user == current_user %>
              <span class="glyphicon glyphicon-edit"><%= link_to 'Edit', edit_listing_path(listing) %>
            <span class="glyphicon glyphicon-remove"></span><%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure you would like to delete this listing?' } %>
            <% end %>
          </div>
      </div>
  <% end %>
</div>