<div class="panel panel-primary">
  <div class="panel-heading"><p class="panel-title"><%= @listing.title %></p>
</div>
  <div class="panel-body">
    <%= image_tag @listing.image.url(:medium), class: "img-responsive", alt: "Responsive image" %>
<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Where:</strong>
  <%= @listing.location %>
</p>

<p>
  <strong>When:</strong>
  <%= @listing.date %>
</p>

<p>
  <% if user_signed_in? %>
    <strong>Contact:</strong>
  <%= @listing.contact %>
  <% else %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-default" %> or
            <%= link_to "Signup", new_user_registration_path, class: "btn btn-primary" %> to see the Contact Details.
  <% end %>
</p>

</div>
  <div class="panel-footer">
<% if @listing.user == current_user %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
</div>
</div>