<div class="row">
  <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading center"><p class="panel-title">
              <%= @listing.title %></p>
          </div>
          <div class="panel-body">
            <%= image_tag @listing.image.url(:medium), class: "center", alt: "Responsive image" %>
            <ul class="list-group">
                <br/><li class="list-group-item"><p><strong>Listing by: </strong><%= @listing.user.name %></li>
                <li class="list-group-item"><p><strong>Description: </strong><%= @listing.description %></li>

                <li class="list-group-item"><p><strong>Where: </strong><%= @listing.location %></li>

                <li class="list-group-item"><p><strong>When: </strong><%= @listing.date %></li>

                <% if user_signed_in? %>

                <li class="list-group-item"><strong>Contact: </strong><%= @listing.contact %></li>
              
              <% else %>
                        <li class="list-group-item"><%= link_to "Login", new_user_session_path, class: "btn btn-default" %> or
                        <%= link_to "Signup", new_user_registration_path, class: "btn btn-primary" %> to see the Contact Details.</li>
              <% end %>
                
            </ul>
        </div>
          <div class="panel-footer">
        <% if @listing.user == current_user %>
          <%= link_to edit_listing_path(@listing) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %> |
        <% end %>
        <%= link_to 'Back', listings_path %>
</div>
</div>
</div>
</div>