<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container" style="position: relative; top: 50%; transform: translateY(-50%);">
<div class="navbar-header">
<p style = "color:white; margin-top:16px"> &#169; GlassAngle. All rights reserved.</p>
</div>
   <ul class="nav navbar-nav navbar-right inline">
      <li><%= link_to "About", about_path %></li> 
      <li><%= link_to "Contact", contact_path %></li> 
      <li><%= link_to "Privacy Policy", privacy_path %></li>
      <li><%= link_to "Terms of Service", tos_path %></li>  
      <% if user_signed_in? %>
      <% else %>
        <li><%= link_to "Signup", new_user_registration_path %></li> 
      <% end %>
      <li><p style = "color:white; margin-top:16px">Follow us: </p></li>
      <li style= "margin-top:8px"><div class="addthis_toolbox addthis_32x32_style addthis_default_style">
<a class="addthis_button_facebook_follow" addthis:userid="glassangledotcom"></a>
<a class="addthis_button_twitter_follow" addthis:userid="glassangleco"></a>
<a class="addthis_button_google_follow" addthis:userid="u/0/113013128412026513679?prsrc=3"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536325eb6350bc8f"></script></li>
    </ul>
    <!-- AddThis Follow BEGIN -->

<!-- AddThis Follow END -->
  </div>
</nav>