<!--<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container" style="position: relative; top: 50%; transform: translateY(-50%);">
<div class="navbar-header">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
<p style = "color:white; margin-top:16px"> &#169; GlassAngle. All rights reserved.</p>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
   <ul class="nav navbar-nav navbar-right inline">
      <li><%= link_to "About", about_path %></li> 
      <li><%= link_to "Contact", contact_path %></li> 
      <li><%= link_to "Privacy Policy", privacy_path %></li>
      <li><%= link_to "Terms of Service", tos_path %></li>  
      <% if user_signed_in? %>
      <% else %>
        <li><%= link_to "Signup", new_user_registration_path %></li> 
      <% end %>
      <li><p style = "color:white; margin-top:16px">Follow us: </p></li>
      <li style= "margin-top:8px"><div class="addthis_toolbox addthis_32x32_style addthis_default_style">
<a class="addthis_button_facebook_follow" addthis:userid="glassangledotcom"></a>
<a class="addthis_button_twitter_follow" addthis:userid="glassangleco"></a>
<a class="addthis_button_google_follow" addthis:userid="u/0/113013128412026513679?prsrc=3"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536325eb6350bc8f"></script></li>
    </ul>
   </div>
  </div>
</nav>-->


<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <p style = "color:white; margin-top:16px"> &#169; GlassAngle. All rights reserved.</p>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex2-collapse">
    <ul class="nav navbar-nav navbar-right">
      <<li><%= link_to "About", about_path %></li> 
      <li><%= link_to "Contact", contact_path %></li> 
      <li><%= link_to "Privacy Policy", privacy_path %></li>
      <li><%= link_to "Terms of Service", tos_path %></li>  
      <% if user_signed_in? %>
      <% else %>
        <li><%= link_to "Signup", new_user_registration_path %></li> 
      <% end %>
      <li><p style = "color:white; margin-top:16px">Follow us: </p></li>
       <li style= "margin-top:8px"><div class="addthis_toolbox addthis_32x32_style addthis_default_style">
<a class="addthis_button_facebook_follow" addthis:userid="glassangledotcom"></a>
<a class="addthis_button_twitter_follow" addthis:userid="glassangleco"></a>
<a class="addthis_button_google_follow" addthis:userid="u/0/113013128412026513679?prsrc=3"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536325eb6350bc8f"></script></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
</nav>