<!DOCTYPE html>
<html>
<head>
  <title>GlassAngle - Google Glass community for events and one-on-one demos!</title>
  <meta name="description" content="GlassAngle was created to build a community where Glass Explorers can provide one-on-one or group demos to anyone interested in Google Glass. Use this site to create listings for personal demos and events where non Glass Explorers can try out Google Glass in person and see what this amazing piece of technology is capable of." />
    <meta name="keywords" content="Google Glass events demos community" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<a href="https://plus.google.com/113013128412026513679" rel="publisher">Google+</a>
	<%= render 'layouts/header' %>
	<div class="container" style="padding-top: 60px">
		<% flash.each do |name, msg| %>
     		<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		<%= yield %>
	</div>

    
</body>
</html>
